<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.educationapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/kid_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Name">

        </activity>
        <activity android:name=".ForgotPassword"/>
        <activity android:name=".RegistrationPage" />
        <activity android:name=".ThingsActivity" />
        <activity android:name=".CategoriesActivity" />
        <activity android:name=".NumberDashboard3" />
        <activity android:name=".NumberToWords2" />
        <activity android:name=".PutInPlaceNumber2" />
        <activity android:name=".SpeakAloudNumber2" />
        <activity android:name=".NumberRevision2" />
        <activity android:name=".NumberDashboard2" />
        <activity android:name=".NumberToWords" />
        <activity android:name=".PutInPlaceNumber" />
        <activity android:name=".SpeakAloudNumber" />
        <activity android:name=".NumberRevision" />
        <activity android:name=".NumberDashboard" />
        <activity android:name=".TimeReading" />
        <activity android:name=".Dashboard" />
        <activity android:name=".MainDashboard" />
        <activity android:name=".OneManyDashboard" />
        <activity android:name=".PutInPlace" />
        <activity android:name=".AlphabetPractice" />
        <activity android:name=".SmallBigLetter" />
        <activity android:name=".ManyOne" />
        <activity android:name=".Article" />
        <activity android:name=".OneMany" />
        <activity android:name=".AlphabetDashboard" />
        <activity android:name=".Question" />
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <service android:name=".MyService"/>
    </application>

</manifest>